.form-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}

.form-item-label{
  flex-basis:40%;
  text-align: left;
}

.form-item-input{
  flex-basis: 90%;
  padding-right: 3%;
  text-align: left;
}

@media (max-width: 1000px) {
  .form-item-label{
    flex-basis: 100%;
  }
}