nav {
    height: 5vh;
    background-color: #242424;
    overflow: hidden !important;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }
  nav.active{
    opacity: 1;
    visibility: visible;
  }

  .sticky-menu{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 1000;
  }
  
  nav ul {
    display: flex;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0;
    max-width:1000px;
    margin: auto;
    list-style-type: none;
  }
  
  nav a, nav a:visited {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: .5s ease-in-out;
    word-wrap: normal;
  }

  nav a:hover {
    color: #bcbcbc;
  }
  
  .appleNav {
    max-width: 80vw;
    margin: 0 auto;
  }

.menu-settings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li .selected{
  padding: 1.5vh 0;
  border-bottom: 5px solid grey;
}

.mobile-menu{
  display: none;
  justify-content: left;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  background: #242424;
  position: sticky;
  overflow: hidden;
  align-items: center;
}

.mobile-menu img{
  cursor: pointer;
  padding: 3%;
}

@media (max-width: 1000px) {
  .mobile-menu{
    display: flex;
  }
  nav{
    visibility: hidden;
    transition: none;
  }
}

.profile-menu-container{
  position: absolute;
  top: 0;
  right: 1vw;
  text-align: right;
}